.img {
	width: 100px;
	height: 100px;
}
 
.card-img-top:hover {
	position: relative;
	transition: all 0.5s;
	transform-origin: center;
	transform: scale(1.05);
}
 
.card-img-top {
	transition: all 0.5s;
}
 
.mrng {
	color: white;
	background: linear-gradient(to right, blue, black);
	padding: 20px;
	border-radius: 10px;
}
 
.aftr {
	color: red;
	background: linear-gradient(to right, yellow, black);
	padding: 20px;
	border-radius: 10px;
}
.hover-effect:hover {
	background-color: #28a745; /* Change to your desired hover background color */
	border-color: #28a745; /* Change to your desired hover border color */
	color: #fff; /* Change to your desired hover text color */
  }
 
.eve {
	color: blue;
	background: linear-gradient(to right, orange, black);
	padding: 20px;
	border-radius: 10px;
}
